<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <section>
        <div id="title">
          <h1><a href="https://bricev.xyz">Brice Vadnais</a></h1>
          <p>{{ site.description | default: "A small website" }}</p>
        </div>
        <div>
        <h2>Manual Posts Listing (from /posts directory)</h2>
        <ul>
          {% assign post_files = site.static_files | where_exp: "file", "file.path contains '/posts/' and file.extname == '.md'" %}
          {% for file in post_files %}
            <li>
              <a href="{{ file.path | relative_url }}">{{ file.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
        {{ content }}
      </section>
    </div>
  </body>
</html>
