<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <section>
        <div id="title">
          <h1><a href="https://bricev.xyz">Brice Vadnais</a></h1>
          <p>{{ site.description | default: "A small website" }}</p>
        </div>
        <div>
          {% if page.url == "/" %}
            <h2>Latest Posts</h2>
            {% for post in site.posts %}
              <article>
                <h4><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h4>
                <p class="date">{{ post.date | date: "%B %-d, %Y" }}</p>
              </article>
            {% endfor %}
          {% endif %}
        </div>
        {{ content }}
      </section>
    </div>
  </body>
</html>
